p {
   font-family: 'Roboto', 'Helvetica Nue', sans-serif;
}

h4 {
    color: lightgray;
}

.schedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.day {
    display: inline-block;
    flex: 1 0 30%;
    margin: 20px;
}

.schedule-buttons {
    display: flex;
}

.schedule-buttons > p {
    margin: 0 7px;
}

thead {
    text-align: center;
}

tbody > tr > td {
    text-align: center;
}

.day > table > thead > tr > th {
    background-color: gray;
}
