{% extends "base.html" %}

{% block content %}
    <h1>Домашнее задание на {{ homework_start }}/{{ homework_end }}</h1>
    {% for day in days %}
        <div class="homework day">
            <h2>{{ day.day_name }}</h2>
            <table class="table table-bordered table-striped table-homework">
                <thead>
                <tr>
                    <th scope="col">Номер предмета</th>
                    <th scope="col">Название предмета</th>
                    <th scope="col">Домашнее задание</th>
                </tr>
                </thead>

                <tbody>
                {% for subject in range(1, max_subjects + 1) %}
                    <tr>
                        <th scope="col">{{ loop.index }}</th>
                        <td scope="col">{{ homework.get(day.day_id, {}).get(subject, {}).get('subject_title', '') }}</td>
                        <td scope="col">{{ homework.get(day.day_id, {}).get(subject, {}).get('subject_homework', '') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {#            {% if current_user.is_authenticated and current_user.have_admin_rights %}#}
            {#                <a href="/schedule/{{ day.day_id }}" class="btn btn-warning">Изменить</a>#}
            {#            {% endif %}#}
            <br>
        </div>
    {% endfor %}
{% endblock %}
