{% extends "base.html" %}

{% block content %}
    <h2>Изменить дз на {{ day_name }}</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <div>
            {{ form.csrf_token }}
        </div>

        {% for field in form if field.name not in ["csrf_token", "submit", "cancel"] %}
            <div class="form-group">
                {% if field.name.endswith("_file") %}
                    {{ field(class="form-control file", **{'data-show-preview': 'false'}) }}
                {% else %}
                    <h4 class="subject-title">{{ field.label }}</h4>
                    <div class="subject-homework-text">{{ field(class="form-control") }}</div>
                {% endif %}
            </div>
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endfor %}

        <br>
        <div class="schedule-buttons">
            <p>{{ form.cancel(type="submit", class="btn btn-secondary") }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
        </div>
    </form>

{% endblock %}
